.activeQuery {
    position: relative;
    z-index: 5;
}

.activeQuery::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.6;
    z-index: 10;
}