.ampryBrand {
    text-align: right;
    padding: 5px;
    color: #000;
}

.ampryBrand img {
    opacity: 0.5;
    height: 11px;
    width: auto;
}

.ampryBrand img:hover {
    opacity: 1;
}

.ampryBrand a {
    color: inherit;
    text-decoration: none;
}